backend/node_modules
backend/.env
backend/coverage
backend/coverage.json
backend/typechain
backend/typechain-types
backend/aritifacts-zk
backend/cache-zk

#Hardhat files
backend/cache*
backend/artifacts*


# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage
frontend/
# next.js
frontend/.next/
frontend/out/
# production
frontend/build

# misc
frontend/.DS_Store
frontend/*.pem

# debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*

# local env files
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
